# Created by .ignore support plugin (hsz.mobi)
Include
Lib
Scripts
tcl
markdown_syntax.bat
.idea/.gitignore
.idea/codeStyles/
.idea/dbnavigator.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
LICENSE.txt
